body {
    margin:0;
}

a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;

}

.navbar__name {
    color: white;
    font-size: 24px;
    margin: 8px;
}

.navbar__active {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__active li {
    padding: 8px 12px;
}

.navbar__login {
    list-style: none;
    display: flex;
}

.navbar__login li{
    padding: 8px;
}

.navbar__login i {
    color:white;
    padding-right: 8px;
}

.test__info {
	height:300px;
	background-color:lightblue;
	display: flex;
	color:white;
	align-items:center;
	}
	
.test i {
	margin:30px 50px 50px 100px;
	font-size: 200px;
}

.info {
	align-items: center;
	font-size: 18px;
	margin:30px;
}

.test__check {
	text-align: center;
}