body {
    margin:0;
}

a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: black;

}

.navbar__name {
    color: white;
    font-size: 24px;
    margin: 8px;
}

.navbar__active {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__active li {
    padding: 8px 12px;
}

.navbar__login {
    list-style: none;
    display: flex;
}

.navbar__login li{
    padding: 8px;
}

.navbar__login i {
    color:white;
    padding-right: 8px;
}

.main{
	font-size: 50px;
}

.user__info {
	text-align:center;
	font-size:30px;
}

.user__info input{
	width:200px;
	height:30px;
	font-size:20px;
}
