body {
	text-align: center;
	margin:0;
}

.navbar {
    background-color: black;
    color:white;
}

.navbar__name {
	color:white;
	font-size:50px;
}

.navbar p {	
	margin:10px;
	text-align:center;
	font-size:35px;
}

.login i {
	align-items: center;
	font-size: 50px;
	padding: 10px;
}

input {
	width:200px;
	height:30px;
	font-size:20px;
}

botton{
	font-size: 50px;
	margin:10px;
}