body {
	text-align: center;
	margin:0;
}

.navbar {
	height:100px;
    background-color: black;
    text-align:center;
}

.navbar__name a{
	font-size:40px;
	color:white;
	position:absolute;
	left: 10px;
	top: 20px;	
}

.navbar__name {
	color:white;
	font-size:40px;
}

.navbar span {	
	margin:10px;
	color:white;
	text-align:center;
	font-size:35px;
	position:absolute;
	top: 15px;	
}

.login {
	margin: 30px;
}

.login div {
	margin:20px;
}
.login i {
	position: relative;
	left:-100px;
	align-items: center;
	font-size: 50px;
	padding: 10px;
}

.fas fa_key {
	font-size: 40px;
}
input {
	margin:20px;
	position: absolute;
	right:38%;
	text-align: center;
	width:250px;
	height:35px;
	font-size:20px;
}

.button {
	position:absolute;
	right:39%;
	top: 35%;
}

button{
	margin:10px;
	width:90px;
	height:30px;
	text-align: center;
}